/* CSS goes here */
:root {
    --primary-color: maroon;
    --secondary-color: white;
    --tertiary-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

/* HEADER */
header {
    padding: 30px 50px;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 20px  rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid var(--secondary-color);
}

header h1 a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
    text-shadow: none;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 20px 35px;
    font-weight: lighter;
    font-size: 1.7vw;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 20px;
    text-decoration: underline;
}

/* FOOTER */
footer {
    padding: 30px 50px;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid white;
    position: relative;
}

footer h2 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    text-shadow: rgba(0, 0, 0, 0.5);
}

section {
    padding: 30px;
}

.hero {
    background-image: url("tamu-campus.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    object-fit: cover;
}

.hero img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1% 95% 0 5%;
    border: 5px solid var(--primary-color);
}

.hero p {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 35px;
    border: 5px solid var(--primary-color);
    background-color: var(--tertiary-color);
    text-align: center;
}


/* About Section start */
.about {
    background-image: url("tamu-campus.jpg");
    background-size: cover;
    background-position: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    object-fit: cover;
}

.about h2 {
    padding: 10px;
    font-style: italic;
    font-size: 35px;
    text-decoration: underline;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.about p {
    padding: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* Work Section start */
.work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.work h2 {
    padding: 10px;
    font-size: 35px;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.run-buddy {
    position: relative;
    width: 40%;
    height: auto;
}

.project {
    position: relative;
    width: 30%;
    height: auto;
}

.img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid var(--primary-color);
}

.img-2 {
    display: block;
    width: 100%;
    height: auto;
    border: 5px solid var(--primary-color);
}

.overlay {
    position: absolute;
    bottom: 5%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    opacity: 0.5;
    font-size: 0 0 20px;
    padding: 0 5%;
    text-align: center;
    text-size-adjust: auto;
}

.lang {
    font-size: 20px;
    /* text-decoration-line: underline; */
}

.project:hover .overlay, .run-buddy:hover .overlay {
    opacity: 1;
}

/* Contact Section start */
.contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.contact h2 {
    padding: 10px;
    font-size: 35px;
    text-decoration: underline;
    font-style: italic;
    border-right: 5px solid var(--primary-color);
}

.contact div {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    border-bottom: 2px solid var(--tertiary-color);
}

.contact div a {
    text-decoration: none;
}

.contact div a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 4px;
    text-decoration: none;
}


/* Media Queries for smaller screens */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1, footer h2 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 25px;
    }
    
    .run-buddy, .project {
        width: 90%;
    }
}